*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
div {
    display: block;
    unicode-bidi: isolate;
}
a {
    color: #2E2F42;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #FFFFFF;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header-container {
    display: flex;
    align-items: center;
}    
.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo-header {
    margin-right: 76px;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-studio {
    color: #2e2f42;
}
.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu .menu-link {
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
.menu .current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .current::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.menu .menu-link:hover,
.menu .menu-link:focus {
    color: #404bbf;
}
.contact-block {
    font-style: normal;
    margin-left: auto;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-list-link {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}

.page-hero-container .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page-hero-container .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.07;
    letter-spacing: 0.02em;
    align-items: center;
}
.hero .btn {
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 32px;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4D5AE5;
    stroke: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .btn:hover,
.hero .btn:focus {
    background-color: #404BBF;
    stroke: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.our-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    column-gap: 8px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    justify-content: center;
}
li.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.advantages-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 240px;
    margin-bottom: 72px;
    margin: 0;
}
svg {
    fill: #f4f4fd;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.team {
    background-color: #F4F4FD;
}
.team .cards {
    padding: 32px 0;
}
li.team-list-item {
    width: calc((100% - 72px) / 4);
}
li.team-list-item {
    border-radius: 0 0 4px 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
ul.box {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}

.team-list-fullname {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover {
    background-color: #404bbf;
}
.social-list-link:focus {
    background-color: #404bbf;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
li.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay {
     transform: translatex(0);
}
.portfolio .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
    padding: 40px 32px;
    margin: auto;
    font-size: 16px;
}
.portfolio-thumb {
    overflow: hidden;
    position: relative;
}
.portfolio .card-project {
    padding: 32px 16px 32px 16px;
    gap: 8px;
    border: 1px solid#e7e9fc;
    border-top: none;    
}
.portfolio .card-project:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-fullname {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
#page-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.page-list-text {
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-logo .studio {
    color: #f4f4fd;
}
li.icons {
    width: 40px;
    height: 40px;
}
.page-footer .box {
    gap: 16px;
}
footer .social-list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.container.footer-container {
    display: flex;
    align-items: baseline;
   gap: 16px;
}
footer .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    stroke: #404BBF;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer .social-list-link:hover {
    background-color: #31d0aa;
}
.page-footer .social-list-link:focus {
    background-color: #31d0aa;
}


